@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Just Another Wine Database is the premier service for keeping track of wine but might be confusing to navigate for average person. <br />
    To begin, please register and account or login if you have already created one. Once you have done so, a new navigation option will open up titled "Wine Database".
    On this page you will find the list of wines and various options for what you can do with them. For the most part these are self-explanatory. Edit allows you to edit the details of the wine,
    Details allows you to look at the details of the wine but seems to be largely useless for what we're doing, and delete removes the wine from our database! <br />
    However, using the filter function is just the slightest bit odd, mostly in regards to the Active filter. Filtering for the name and pack of the wine is straight forward, so don't worry about that.
    For the prices, you can enter a value without decimals (12) or a value with decimals (12.34). Active is a bit off though. If you are looking for an active wine, you would enter into the filter "true".
    If looking for an inactive wine, enter "false". Not exactly intuitive, but hey, it works.</p>
