@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<p>Hey you, yeah you. We appreciate any feedback you give us and should email us to let us know if you have any problems with our website. Problems like, perhaps, the website is written
    in too familiar a tone. Maybe you prefer your website to be stoic and hate nonsensical things. I say that's boring, but let us know!</p>

<img src="../assets/sickhighfive.jpg" width="500" height="300" alt="The Sickest of High Fives" />
<br />

<address>
    Jackerman Inc.<br />
    Vicksburg, MI 49097<br />
    <abbr title="Phone">P:</abbr>
    123.456.7890
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jackerman1605@mail.kvcc.edu">jackerman1605@mail.kvcc.edu</a><br />
</address>