@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome!</h2>
<p>Hello and welcome to our humble wine database. Here, anyone who registers an account can access and edit our database to their liking. If you want you can keep track of your own wines! 
    If you want you can troll us by subtly editing wine names to profanity! Hell, you can go and individually delete every wine available if you want, go for it!</p>
